.contentContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: max-content;
}

.container1 {
  height: 100vh; /* Full height of the viewport */
  top: 70px; /* Adjust the top position according to your navbar height */
  left: 0; /* Positioned at the left edge */
  width: 70px; /* Width of the sidebar (double the icon width) */
  background-color: white; /* White background */
  overflow-y: auto; /* Allow scrolling if the content exceeds the container height */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  z-index: 0; /* Ensure the sidebar is on top of other content */
  transition: width 0.3s ease; /* Add transition for smooth width change */
  flex: 0 0 auto; /* Initial width of container1 */
}

/* Adjust width when sidebar is expanded */
.container1.expanded {
  width: 200px; /* Adjust width based on your sidebar width */
}

.container2 {
  flex: 1; /* Ensure container2 takes remaining space */
  margin-left: 21px;
  margin-right: 21px;
  background-color: #faecd4;
  z-index: 0;
  border-radius: 0;
  transition: margin-left 0.3s ease, margin-right 0.3s ease; /* Add transition for smooth margin change */
}

/* Adjust margins when sidebar is expanded */
.container1.expanded + .container2 {
  margin-left: 0px; /* Adjust based on expanded sidebar width */
  margin-right: 21px; /* Adjust right margin as needed */
}
