.ForgotPassword-main-container {
    position: relative;
}

.ForgotPassword-picture-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.ForgotPassword-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ForgotPassword-form-overlay {
    position: absolute;
    top: 0;
    right: 10%;
    left: 0;
    width: 50%; /* Set the login form to cover 50% of the image */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ForgotPassword-form-container {
    background-color: white;
    padding: 40px;
    padding-bottom: 75px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space evenly between input fields and button */
    color: #d19641; /* Text color */
}

.ForgotPassword-form-container input[type="email"],input[type = "text"] {
    width: calc(100% - 20px); /* Adjust width to leave space for padding */
    padding: 10px;
    margin-bottom: 20px; /* Increase margin between input fields */
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    color: black; 
    
}

.Button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Increase space between input fields and button */
}

.ForgotPassword-form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d19641; /* Background color */
    color: white;
    font-size: 16px;
    cursor: pointer;
}
