.NewPassword-main-container {
    position: relative;
}

.NewPassword-picture-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.NewPassword-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.NewPassword-form-overlay {
    position: absolute;
    top: 0;
    right: 10%;
    left: 0;
    width: 50%; /* Set the NewPassword form to cover 50% of the image */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NewPassword.css */

.NewPassword-form-container {
    /* Other existing styles */
    background-color: white;
    padding: 40px;
    padding-bottom: 75px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space evenly between input fields and button */
    color:#d19641;
}

  

.NewPassword-form-container input[type="password"],
.NewPassword-form-container input[type="password"] {
    /* Styles for email and password input fields */
    width: calc(100% - 20px); /* Adjust width to leave space for padding */
    padding: 10px;
    margin-bottom: 20px; /* Increase margin between input fields */
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    color: black; 
}


.NewPassword-form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d19641; /* Background color */
    color: white;
    font-size: 16px;
    cursor: pointer;
}



.NewPassword-form-container button:hover, .Signup-button:hover {
    background-color: #e2a959; /* Apply hover effect */
}





