/* ChartController.scss */
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.button-chart {
  background-color: #faecd4; /* light peach background */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s; /* Smooth transition */

  &:hover {
    background-color: #f0d4a3; /* Darker green background on hover */
  }

  &.selected {
    background-color: #d19641; /* Blue background for selected button */
  }
}

.chartdiv {
  position: relative; /* Ensure relative positioning */
  width: 100%; /* Ensure the chartdiv fills the entire width */
  box-sizing: border-box; /* Include padding and border in width */
}

.date-range {
  margin-left: 10px; /* Add margin to the left to create space */
  margin-top: 20px; /* Add margin to the top to lower the text */
}

.date-picker {
  margin-left: 20px;
  margin-right: 10px; /* Add margin to the right to create space */
  // margin-top: 10px;
  display: flex;  
    margin-bottom: 0px;
    margin-top: 10px;
  
}

.menu.open {
  left: 0; /* Show the menu when it is open */
}
